.shop-category .shopcategory-banner {
    /* border: 2px solid red; */
    display: block;
    margin: 30px auto;
    width: 100%;
}

.shop-category .shopcategory-indexSort {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin: 4rem;
}


.shop-category .shopcategory-indexSort .shopcategory-sort p {
    /* border: 2px solid red; */
    display: flex;
}

.shop-category .shopcategory-indexSort .shopcategory-sort span {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    font-size: 1.3rem;
    /* color: rgb(46, 46, 46); */
}

.shop-category .shopcategory-products {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-bottom: 6rem;
}

.shop-category .loadmore-div {
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 4rem;
}

.shop-category .shopcategory-showmore {}