.relatedProducts {
    /* border: 2px solid red; */
    margin-bottom: 6rem;
}

.relatedProducts .title-box {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.relatedProducts-item {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:400px) {
    .relatedProducts-item {
        gap: 1.5rem;
    }
}