.newCol {
    /* border: 2px solid red; */
    margin-bottom: 6rem;
}

.newCol .newCol-title {
    /* border: 2px solid red; */
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newCol .newCol-item {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}