.add-product {
    border: 2px solid red;
    margin: .5rem;
}

.upload-container {
    border: 1px dotted rgb(0, 0, 0);
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-container span svg {
    color: rgb(87, 87, 87);
}

.upload-container p {
    color: rgb(87, 87, 87);
}