.add-product {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: .5rem .5rem .5rem 1rem;
    width: 45rem;
    border-radius: 1rem;
    padding: 1.7rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.add-product h2 {
    margin-bottom: 1.5rem;
    color: rgb(58, 58, 58);
}

.add-product p {
    /* border: 2px solid red; */
    color: rgb(87, 87, 87);
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: .2rem;
    margin-left: .3rem;
}

.upload-container-keupar {
    /* border: 2px solid red; */
    border: 1px dotted rgb(0, 0, 0, 0.2);
    width: 19rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .3rem;
}

.upload-container img {
    width: 12rem;
    height: 8rem;
    border-radius: .3rem;
}

.upload-container span svg {
    color: rgb(87, 87, 87);
}

.upload-container p {
    color: rgb(87, 87, 87);
    font-size: 1rem;
}

.product-title-input {
    /* border: 2px solid red; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    height: 3rem;
    width: 40rem;
    padding-left: 1rem;
    outline: none;
}

.addproduct-price {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 2rem;
}

.old-price-input,
.new-price-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .3rem;
    height: 3rem;
    width: 18.5rem;
    padding-left: 1rem;
    outline: none;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */

.category-image {
    /* border: 10px solid rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.add-product-selector {
    border-radius: .3rem;
    height: 3rem;
    width: 19.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* -------------------------------------------- */
/* -------------------------------------------- */

.addproduct-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 3.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: .3rem;
    background-color: rgb(0, 13, 69);
    color: white;
    margin-top: 1rem;
}

.addproduct-btn:hover {
    background-color: rgb(0, 4, 24);
    transition: easease-in-out .5s;
}

.addproduct-btn:active {
    background-color: white;
    color: black;
}

.uploaded-img {
    /* border: 2px solid red; */
    width: 5rem;
    /* height: ; */
}