.description {
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* border: 5px solid green; */
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(246, 246, 246);
}

@media (max-width:800px) {
  .description {
    padding: 1rem;
  }
  .description p{
    font-size: .8rem;
  }
}

@media (max-width:500px) {
  .description p{
    font-size: .6rem;
  }
}

