@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: contents;
}

ul li a {
    /* border: 2px solid red; */
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.title-line {
    /* border: 2px solid red; */
    background-color: rgb(67, 67, 67);
    width: 10rem;
    height: .3rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
}

.btn {
    border: none;
    background-color: tomato;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.btn:active {
    background-color: rgb(255, 130, 108);
}

.heading {
    text-transform: capitalize;
}

.btn-transparent {
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20rem;
    text-transform: capitalize;
    color: rgb(46, 46, 46);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    transition: 0.5s;
}

.btn-transparent:hover {
    background-color: rgb(229, 229, 229);
    border: 1px solid transparent;
}

.btn-transparent:active {
    background-color: rgb(154, 154, 154);
}

.swiper-button-prev:after, .swiper-button-next:after {
    color: black;
    font-size: 2rem;
    font-weight: 900;
}

.autoplay-progress svg{
    stroke: black;
}

.autoplay-progress{
    color: black;
}

.swiper-pagination-bullet-active{
    background-color: black;
}