.breadcrums {
    /* border: 2px solid red; */
    background-color: rgb(232, 232, 232);
    display: flex;
    align-items: center;
    margin-bottom: 4rem;   
    padding: .6rem 0rem;
}

.breadcrums span {
    /* border: 2px solid red; */
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(26, 26, 26);
}

@media (max-width:810px) {
    .breadcrums {
        /* border: 2px solid red; */
        font-size: .8rem;
        justify-content: center;
    }
    
    .breadcrums span {
        /* border: 2px solid red; */
        font-size: 1rem;
    }
}