.popular {
    /* border: 2px solid red; */
    /* text-align: center; */
    margin-bottom: 6rem;
}

.popular .popular-title {
    /* border: 2px solid red; */
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.popular .popular-title h1 {
    text-transform: capitalize;

}

.popular-item {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
/* ------------------------------------ */
@media(max-width:600px){
    .popular .popular-title {
        /* border: 2px solid red; */
        margin-bottom: 2rem;
        margin-top: -4rem;
    }
    
    .popular .popular-title h1 {
        /* border: 2px solid red;   */
        font-size: 1.5rem;
        margin-bottom: -1rem;
    }

    .popular .title-line{
        /* border: 2px solid red; */
        height: .15rem;
    }
}